{% extends 'base.html' %}

{% block body %}
    <main role="main">
        <form id="karmaForm" method="POST" action="/stackexchange">
            <div class="form-group">
                <label for="site">Please choose a site</label>
                <select class="form-control" id="site" name="site">
                    <option value="" disabled selected hidden>Choose a site...</option>
                    {% for s in sites %}
                    <option value={{s.api_site_parameter}}>{{s.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" id="farm" class="btn btn-primary">Farm</button>
        </form>
        {% if questions %}
        <hr>
        <table class="table" id="farmTable">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Views</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody>
                {%for q in questions%}
                    <tr>
                        <td><a target="_blank" href="{{q.link}}">{{q.title}}</a></td>
                        <td>{{q.view_count}}</td>
                        <td>{{q.creation_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </main>
{% endblock %}
